<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}title {% endblock%}</title>
</head>
<body>
    {% block header%}
    <h4>the text body</h4>
    {% endblock %}

    {% block contect %}
    <h5>the text body</h5>
    {% endblock %}

    {% block footer %}
    <h5>the text body</h5>
    {% endblock %}
</body>
</html>